<div class="wrap">
    <div class="content">
        <h1>Hello {{ controller_name }}!</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ '/home/imag2/src/Controller/AddProductController.php'|file_link(0) }}">src/Controller/AddProductController.php</a></code></li>
            <li>Your template at <code><a href="{{ '/home/imag2/templates/add_product/index.html.twig'|file_link(0) }}">templates/add_product/index.html.twig</a></code></li>
        </ul>
    </div>



    <div class="both">
        <div class="left">
            <aside class="auth">
                <form class="folders" method="get" action="/main">
                    <h2>Авторизация</h2>
                    <div class="form">
                        <div class="text">

                            <div class="img"></div>
                            <h3>Bonjour {% if env_name %} <span class="not_auth">{{ env_name }}</span>{% endif %}</h3>
                            <input type="text" placeholder="USERNAME">
                            <input type="password" placeholder="PASSWORD">
                            <input type="submit" value="LOGIN">
                            U are not auth, pls <a href="/reg">register</a> on shop
                        </div>
                    </div>
                </form>
            </aside>
            <nav class="nav">
                <form class="folders" method="get" action="/main">
                    <input type="hidden" class="get" name="cat_id" value="">
                    <ul>
                        {% for folders in category_list %}
                            <li><a href="#">[{{ folders.category_id }}] - {{ folders.category }}</a> <i class="fas fa-times-circle"><input type="submit" class  ="delete" itemid="{{ folders.category_id }}" value="Delete" /></i></li>
                        {% endfor %}
                    </ul>
                </form>
            </nav>
        </div>
        <div class="right">
            <div class="links">
                <a href="{{ path('add_product') }}">ADD</a>
                <a href="{{ path('add_category') }}" class="but">NEW CATEGORY</a>
                <a href="/csv">IMPORT CSV</a>
                <a href="{{ path('taskmngr') }}" class="but">TASK MANAGER</a>
            </div>
            <form class="table" method="get" action="/main">
                <input type="hidden" class="get" name="prod_id" value="">
                    <ul>
                            <li>ID</li>
                            <li>C_ID</li>
                            <li>Категория</li>
                            <li>Имя</li>
                            <li>Кол-во</li>
                            <li>Цена</li>
                        <li></li>
                        <li></li>

                    </ul>
                    <div class="paginationjs paginationjs paginationjs-theme-yellow">
                        <div id="data-container">
                        {% for product in items_list %}
                                <ul>
                                    <li>{{ product.id }}</li>
                                    <li>{{ product.category_id }}</li>
                                    <li class="flex">{{ product.category }}</li>
                                    <li class="flex"><a href="{{ path('watch') }}?id={{ product.id }}">{{ product.name }}</a></li>
                                    <li>{{ product.num }}</li>
                                    <li>{{ product.price }}</li>

                                    <li><a href="/edit/product?edit={{ product.id }}&c_id={{ product.category_id }}" class="edit">EDIT</a></li>
                                    <li><input type="submit" class="delete" itemid="{{ product.id }}" value="Delete" /></li>
                                </ul>
                        {% endfor %}
                        </div>
                        <div id="pagination-container"></div>
                    </div>
            </form>
        </div>
    </div>
</div>