<div class="wrap">
    <div class="content">
        <h1>Hello {{ controller_name }}!</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ '/home/imag2/src/Controller/AddProductController.php'|file_link(0) }}">src/Controller/AddProductController.php</a></code></li>
            <li>Your template at <code><a href="{{ '/home/imag2/templates/add_product/index.html.twig'|file_link(0) }}">templates/add_product/index.html.twig</a></code></li>
        </ul>
    </div>
    <div class="both">
        <nav class="left">
            <ul>
                {% for folders in category_list %}
                    <li><a href="#">{{ folders.category }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        <div class="right">
            <div class="links">
                <a href="{{ path('add_product') }}">ADD</a>
                <a href="{{ path('add_category') }}" class="but">NEW CATEGORY</a>
                <a href="/csv">IMPORT CSV</a>
            </div>
            <form method="get" action="/main">
                <table>
                    <tbody class="elem">
                        <tr>
                            <td>ID</td>
                            <td>C_ID</td>
                            <td>Категория</td>
                            <td>Имя</td>
                            <td>Кол-во</td>
                            <td>Цена</td>
                        </tr>
                        <input type="hidden" name="id" value="">
                        {% for product in items_list %}
                            <tr>
                                <td>{{ product.id }}</td>
                                <td>{{ product.category_id }}</td>
                                <td>{{ product.category }}</td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.num }}</td>
                                <td>{{ product.price }}</td>

                                <td><a href="/edit/product?edit={{ product.id }} " class="edit">EDIT</a></td>
                                <td><input type="submit" id="delete" itemid="{{ product.id }}" value="Delete" /></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="slider">
                                        <img width="100" height="100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRRenJNlDXQnSYbxWOqQsxBKuXMfQF0gcno6g&usqp=CAU" alt="">
                                    </div>
                                </td>
                                <td>
                                    BIO
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </form>
        </div>
    </div>
</div>