{% include 'main/header.twig' %}
<div class="wrap">
    <div class="example-wrapper">

        <div class="content">
            {% set product = obj[0].__get('GetProdById') %}
            {% set product_img = obj[0].__get('ImgUrls') %}
            {{ dump(_get.id) }}
            <h1>{{ product.name }}!</h1>


            This friendly message is coming from:
            <ul>

                <li>ID: <a href="#">{{ product.id }}</a></li>
                <li>Category ID: <a href="#"> {{ product.category_id }}</a></li>
                <li>Цена:<a href="#"> {{ product.price }}</a></li>
                <li>Количество: <a href="#"> {{ product.num }}</a></li>
                <li></li>
                <li>Your controller at <code><a href="{{ '/home/imag2/src/Controller/AddProductController.php'|file_link(0) }}">src/Controller/AddProductController.php</a></code></li>
                <li>Your template at <code><a href="{{ '/home/imag2/templates/add_product/index.html.twig'|file_link(0) }}">templates/add_product/index.html.twig</a></code></li>
            </ul>
        </div>

    </div>
    <div class="content">
        <form method="get" action="/main" enctype="application/x-www-form-urlencoded | multipart/form-data | text/plain">
            <div class="links">
                <div class="col">
                    <div class="slick">
                        {% for img in product_img %}
                            {% if img.p_id == _get.id %}
                                <img data-id="{{ img.p_id }}" src="{{ img.path|replace({'/home/imag2/public':''}) }}" alt="{{ img.filename }}">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="content">
        <div class="links">
            <a href="/main">BACK TO MAIN</a>
        </div>
    </div>
</div>
{% include 'main/bottom.twig' %}